body {
  padding: 0;
  margin: 0;
}

.headerbtn {
  margin: 0 0 3% 0;
  padding: 0;
  outline: none;
  border: none;
  height: 100%;
  width: 50%;
  float: left;
  font-family: Microsoft JhengHei;
  font-weight: bold;
  color: #dcdcdd;
  text-align: center;
  line-height: 8vh;
}

.headerbtn:hover {
  opacity: 60%;
}

.active {
  background-color: #1985a1;
}

.nonactive {
  background-color: #7e8286;
}

.table_name {
  width: 20%;
}

.table_des {
  width: 80%;
}

.table {
  border-color: #1985a1 !important;
  width: 90% !important;
  margin: auto !important;
}

td {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

form {
  margin: 0 0 3% 65%;
  width: 30%;
}
