body {
  background-color: #40916c;
}

.name {
  font-family: Microsoft JhengHei;
  font-weight: bold;
  color: #f1faee;
}

.headshot {
  width: 25%;
  border-radius: 50%;
  opacity: 0%;
}

.line {
  height: 2px;
  background-color: #f1faee;
  display: block;
  opacity: 0%;
}

@media screen and (min-width: 800px) {
  .window {
    width: 97vw;
    height: 97vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .namebox {
    width: 50%;
  }

  .name {
    float: right;
  }

  .headshotbox {
    width: 50%;
  }

  .headshot {
    margin: 0 10% 0 10%;
  }

  .headshot:hover {
    border: 2px #f1faee solid;
    padding: 5px;
    width: 35%;
  }

  .line {
    width: 100%;
  }

  .outline {
    width: 70vh;
    height: 70vh;
    display: none;
  }

  .outlineBtnLeft,
  .outlineBtnRight {
    width: 15vh;
    display: none;
    opacity: 0%;
  }

  .BtnEnter {
    position: absolute;
    margin-top: 350px;
    height: 5%;
    width: 20%;
    background-color: #f1faee;
    border: 1px #949494 solid;
    color: #949494;
    font-family: Microsoft JhengHei;
    display: none;
  }

  .BtnEnter:focus {
    outline: none;
  }

  .swiper-container {
    width: 50vw;
    height: 97vh;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    --swiper-pagination-color: #f1faee;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .swiper-pagination-bullet-active {
    background-color: #f1faee;
  }
}

@media screen and (max-width: 800px) {
  .namebox {
    width: 100%;
    position: absolute;
    top: 55%;
  }
  .name {
    text-align: center;
  }

  .headshotbox {
    width: 100%;
    position: absolute;
    top: 20%;
  }

  .headshot {
    width: 40%;
    display: block;
    margin: auto;
  }

  .line {
    width: 80%;
    margin: auto;
  }
}

@media screen and (max-width: 400px) {
  .headshotbox {
    top: 30%;
  }
}
